<ul>
  <li>
    <a href="https://www.instagram.com/canberra.makerspace">
      <i class="fab fa-instagram-square"></i>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/groups/canberramakerspace">
      <i class="fab fa-facebook-square"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/makehackvoid/">
      <i class="fab fa-github-square"></i>
    </a>
  </li>
  <li>
    <a href="mailto:canberramakerspace@gmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </li>
</ul>
