<ul class="contact-list">
  <li>
    <a href="https://www.instagram.com/canberra.makerspace">
      <i class="fab fa-instagram-square"></i>
      @canberra.makerspace
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/groups/canberramakerspace">
      <i class="fab fa-facebook-square"></i>
      Canberra Makerspace - Make, Hack, Void
    </a>
  </li>
  <li>
    <a href="https://github.com/makehackvoid/">
      <i class="fab fa-github-square"></i>
      @makehackvoid
    </a>
  </li>
  <li>
    <a href="mailto:canberramakerspace@gmail.com">
      <i class="fas fa-envelope"></i>
      canberramakerspace@gmail.com
    </a>
  </li>
</ul>
