@font-face {
    font-family: Hacked;
    src: url("/assets/fonts/HACKED.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-weight: 500;
    src: url("/assets/fonts/Oswald-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-weight: 400;
    src: url("/assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-weight: 300;
    src: url("/assets/fonts/Oswald-Light.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

$mhvblue: #1C9AD6;


$primary: #0892A5;
$secondary: #153B50;
$accent: #CC998D;

$primary: #7192BE;
$secondary: #153B50;
$accent: #D66853;

$bg-color: #FCF7F8;
$fg-color: #2D3047;

$banner-fg: $bg-color;
$banner-bg: $primary;

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: Roboto;
  font-weight: 400;
}

h1, h2 {
  font-family: Oswald;
  font-weight: 400;
}

.banner {
  background-color: $banner-bg;
}

.brand {
  color: $banner-fg;

  font-family: Oswald;
  font-weight: 400;
  font-size: 75px;

  //text-shadow: 2px 0px red, -2px 0px blue, 4px 2px 4px rgba(6, 6, 6, .7);
  text-shadow: 2px 0px red, -2px 0px blue;
  text-shadow: 3px 0px $accent, -3px 0px $secondary;

  .make {
    font-weight: 500;
  }

  .void {
    font-family: Hacked;
    font-size: 85px;
  }
}

.subtitle {
  color: $banner-fg;

  font-family: Roboto;
  font-weight: 300;
  font-size: 40px;

  text-shadow: 1px 1px 2px rgba(6, 6, 6, .7);
}

.logo-svg {
  height: 10em;
  width: auto;

  path {
    fill: $banner-fg;
    filter: drop-shadow(2px 2px 4px rgba(6, 6, 6, .7));
  }
}

.selected {
  background-color: $accent;
}
