---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Code of Conduct | Canberra Makerspace';
const description = 'Canberra Makerspace Code of Conduct';
const permalink = `${Astro.site.href}conduct`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="conduct">
  <div class="container">
    <h1>Code of Conduct</h1>
  </div>
</BaseLayout>

<style>
</style>
