---
import BaseLayout from '../layouts/BaseLayout.astro';

import Map from '../components/Map';

const title = 'Canberra Makerspace';
const description = 'Canberra\'s community makerspace.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <section class="blurb">
        <h1>Welcome</h1>
        <p>
          Canberra Makerspace is a community-driven workshop where people from
          all walks of life can meet and collaborate. We provide a space for
          makers and aspiring makers to bring their ideas to life with access to
          tools, resources, and a supportive community.
        </p>
        <p>
          Visitors are welcome and encouraged to drop in and say hi during our
          weekly public opening hours:
        </p>
        <ul>
          <li>Wednesdays, 6:30pm (electronics)</li>
          <li>Sundays, 1pm-4pm (general making)</li>
        </ul>
        <p>
          Members with key access may open the space to the public at other
          times. Notifications of this are posted on our
          <a href="https://community.canberramaker.space/">forum</a>
          as they happen.
        </p>
      </section>

      <section class="payments">
        <h1>Payments</h1>
        <p>
          We charge a monthly fee for regular members or a per-visit fee
          for one-off use of our equipment. This goes towards paying our rent
          and operating costs such as insurance and utility bills. You can pay
          on premises or use the payment links below.
        </p>
        <a target="_blank" href="https://square.link/u/O8hLWT2C">
          One-off visit
        </a>
        <a target="_blank" href="https://square.link/u/XX0WC6Q6">
          Monthly membership
        </a>
        <a target="_blank" href="https://square.link/u/5INjqIUr">
          Utilities contribution
        </a>
        <a target="_blank" href="https://square.link/u/PNl1Z78q">
          One-off donation
        </a>
      </section>

      <section class="calendar">
        <h1>Calendar</h1>
        <object data="https://calendar.google.com/calendar/embed?src=canberramakerspace%40gmail.com&amp;ctz=Australia%2FSydney" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></object>
      </section>

      <section class="location">
        <h1>Location</h1>
        <div class="map-container">
          <Map client:load />
        </div>


      </section>

      <section class="links">
        <h1>Links</h1>
        <ul>
          <li><a href="https://www.instagram.com/canberra.makerspace">Instagram</a></li>
          <li><a href="https://www.facebook.com/groups/canberramakerspace">Facebook group</a></li>
          <li><a href="https://discord.gg/FM68qMKm5G">Discord</a></li>
          <li><a href="https://github.com/makehackvoid/">GitHub</a></li>
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .map-container {
    position: relative;
    height: 500px;
    width: 500px;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
