---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Canberra Makerspace';
const description = 'Canberra\'s community makerspace.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Canberra Makerspace</h1>
      <h2>Make Hack Void</h2>
      <p>
        Canberra Makerspace is a space for makers, hackers and aspiring
        creators of all kinds to meet, share knowledge, and work on projects
        together. We provide ACT residents with a multi-use workshop and
        meeting space in Giralang.
      </p>
      <p>
        We hold public meetups on a weekly basis. These meetups are where we
        invite you to join us and chat, get help or advice, or use our space to
        work on your projects. Our current regular opening hours are:
        <ul>
        <li>Wednesdays, 6:30pm (electronics)</li>
        <li>Sundays, 1pm-4pm (general making)</li>
        </ul>
      </p>
      <p>
        Other planned events or notifications of the space opening are posted
        in our Facebook and Discord groups as they happen.
      </p>
      <p>
        See our Facilities page for a list of equipment we currently have
        available for public use.
      </p>
      <p>
        Our group includes people with diverse backgrounds and interests. We
        are dedicated to maintaining an inclusive environment for everyone. See
        our Code of Conduct.
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
