---
import BaseLayout from '../layouts/BaseLayout.astro';

import Map from '../components/Map';

const title = 'Canberra Makerspace';
const description = 'Canberra\'s community makerspace.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <section class="banner">
        <video controls autoplay muted>
          <source src="/assets/videos/banner-extended2.mp4" type="video/mp4">
        </video>
      </section>
      <section class="blurb">
        <h1><span class="emoji">👋</span>hi!</h1>
        <p>
          Welcome to Canberra Makerspace!
        </p>
        <p>
          We're a community-driven workshop for people from
          all walks of life to meet and collaborate. We provide a space for
          makers and aspiring makers to bring their ideas to life with access to
          tools, resources, and a supportive community.
        </p>
      </section>


      <section class="calendar">
        <h1><span class="emoji">🗓️</span>what's on</h1>
        <object 
          data="https://calendar.google.com/calendar/embed?src=canberramakerspace%40gmail.com&amp;ctz=Australia%2FSydney" 
          style="border: 0; border-radius: 15px;" 
          width="100%" 
          height="400" 
          frameborder="0" 
          scrolling="no">
        </object>
      </section>

      <section class="location">
        <h1><span class="emoji">🌏</span>Where to find us</h1>
        <div class="location-container">
          <div class="copy">
            <h2>The space's address:</h2>
            <address>
              17 Tucana Street <br />
              Giralang ACT 2617 <br />
              Canberra
            </address>
           
            <ul>
              <li>
            <a href="https://maps.app.goo.gl/tDpBBhgvBFtPK6eVA">
              Google maps
            </a>
              </li>
              <li>
            <a href="https://osm.org/go/uNlUbAhob">
              OpenStreetMap
            </a>
              </li>
            </ul>
          </div>
          <div class="map-container">
            <Map client:load />
          </div>
        </div>
      </section>
      
      <section class="supporters">
        <h1><span class="emoji">🙌</span>Supporters</h1>
        <ul class="supporters-list">
          <li class="supporter">
            <img src="/assets/logos/supporters/amsa_light.svg" />
            <div class="copy">
              Canberra makerspace is a proud member of the 
              <a href="https://mensshed.org/">Australian Men's Shed Association</a> 
              as a community shed
            </div>
          </li>
        </ul>
      </section>
      

      <section class="links">
        <h1><span class="emoji">📎</span>Links</h1>
        <ul>
          <li><a href="https://www.instagram.com/canberra.makerspace">Instagram</a></li>
          <li><a href="https://github.com/makehackvoid/">GitHub</a></li>
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 2em;
    min-height: 400px;
  }

  video {
    width: 100%;
    border-radius: 15px;
  }

  .home-copy {
    flex: 1;
    // padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }
  
  .emoji {
    margin-right: 0.5ch;
  }
  
  section {
    margin: 2em 0;
  }

  .map-container {
    position: relative;
    height: 500px;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
    }
  }

  .location-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  ul.supporters-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .copy {
      margin-top: 1em;
    }
  }
</style>
