$mhvblue: #1C9AD6;


$primary: #0892A5;
$secondary: #153B50;
$accent: #CC998D;

$primary: #7192BE;
$secondary: #153B50;
$accent: #D66853;

$bg-color: #FCF7F8;
$fg-color: #2D3047;

$banner-fg: $bg-color;
$banner-bg: $primary;
