.calendar-display.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.calendar-display .navigation {
  padding: 1em 0;
  display: flex;
  width: 100%;
}

.calendar-display .calendar-pane {
  flex: 1;
}

.range-title {
  font-weight: bold;
  font-size: 1.25em;
}

.controls {
  margin-left: auto;
  display: flex;
  gap: 0.5ch;
}

.calendar-feeds {
  margin: 1em 0;
  display: flex;
}

.calendar-feeds .canberra {
  margin-left: auto;
}
