---
import Brand from './Brand.astro'
import Nav from './Nav.astro'

const { current = '' } = Astro.props;
---

<style>
  header {
    display: flex;
    gap: 1em;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .navigation {
    margin-left: auto;
  }
</style>

<header>
  <Brand />
  <div class="navigation">
    <Nav current={current} />
  </div>
</header>
