---
import logoIcons from "../svgs/logo_icons.svg?raw"; 
---
<div class="logo-container">
  <Fragment set:html={logoIcons} />
</div>

<style>
  .logo-container {
    margin-right: 2ch;

    svg {
      height: 4rem;
      width: auto;
    }
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>
