body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: Roboto;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: Oswald;
  font-weight: 400;
}

blockquote {
  font-size: 1.5em;
  font-family: Oswald;
  line-height: 1.15;
  font-weight: 300;
  @media (max-width: 700px) {
    margin: 1em 1ch;
  }
}

ul, ol {
  @media (max-width: 700px) {
    padding-inline-start: 2ch;
  }
}

a {
  color: $link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidebar-map {
  height: 25vh;
  border-radius: 10px;
  //box-shadow: 0px 0px 7px darken($bg-color, 10%);
  //border: 5px solid $bg-color;
}

.map {
  height: 50vh;
  border-radius: 10px;
}
