.banner-background {
  position: relative;
  z-index: -1;

  background-color: $banner-bg;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("/assets/images/tools.jpg");
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    backdrop-filter: blur(1px);

  }
}

.navigation-background {
  //background-color: $banner-bg;
  //backdrop-filter: blur(10px);
}

.navigation-container {
}

nav {

  font-family: Inconsolata;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: lowercase;

  display: table;
  height: 100%;

  $nav-link: white;
  //$nav-link-hover-bg: rgba(0, 0, 0, 0.1);
  //$nav-link-active-bg: rgba(0, 0, 0, 0.3);

  & > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2ch;
    &:first-child {
      padding-left: 0;
    }
    @media (max-width: 700px) {
      padding-left: 0;
    }
    padding-right: 2ch;

    &:hover {
      //background-color: $nav-link-hover-bg;
    }

    a {
      color: $nav-link;
      text-decoration: none;
      font-size: 1.5em;

      &:hover {
        text-decoration: none;
        color: $nav-link;

        span.text {
          border-bottom: 2px dashed $nav-link;
        }
      }
    }

    &.selected {
      //background-color: $nav-link-active-bg;

      a {
        color: $nav-link;

        span.text {
          border-bottom: 2px solid $nav-link;
        }
      }
    }
  }
}

header.site-header {
  text-shadow: 1px 1px 10px rgba(6, 6, 6, .4);

  .subtitle {
    color: $banner-fg-accent;

    margin: 0;

    font-family: Inconsolata;
    font-weight: 300;

    text-transform: lowercase;
  }

  .brand {
    border-bottom: 2px solid $banner-fg-accent;

    margin: 0;
    line-height: 1;

    color: $banner-fg;

    font-family: Oswald;
    font-weight: 400;

    span {
      font-size: 1;
    }

    // text-shadow: 2px 0px red, -2px 0px blue, 4px 2px 4px rgba(6, 6, 6, .7);
    // text-shadow: 2px 0px red, -2px 0px blue;
    // text-shadow: 3px 0px $accent, -3px 0px $secondary;

    .make {
      font-weight: 500;
    }

    .void {
      font-family: Hacked;
      font-size: 1.16em;
    }
  }
}

.logo-container {
  display: inline-block;
  &:before {
    border-radius: 50%;
    height: 100%;
  }
}

.logo-svg {
  path {
    //fill: $banner-fg;
    fill: white;
    //stroke: white;
    filter: drop-shadow(1px 1px 10px rgba(6, 6, 6, .4));
  }
}
