.banner-background {
  // background-color: $banner-bg;
}

nav {
  font-family: Inconsolata;
  font-weight: bold;
  a {
    text-decoration: none;
    font-size: 1.5em;
  }
}

header.siteheader {
  .subtitle {
    margin: 0;

    font-family: Inconsolata;
    font-weight: 300;

    text-transform: lowercase;

    // text-shadow: 1px 1px 2px rgba(6, 6, 6, .7);
  }
  .brand {
    margin: 0;
    line-height: 1;

    color: black;
    // color: $banner-fg;

    font-family: Oswald;
    font-weight: 400;

    span {
      font-size: 1;
    }

    //text-shadow: 2px 0px red, -2px 0px blue, 4px 2px 4px rgba(6, 6, 6, .7);
    // text-shadow: 2px 0px red, -2px 0px blue;
    // text-shadow: 3px 0px $accent, -3px 0px $secondary;

    .make {
      font-weight: 500;
    }

    .void {
      font-family: Hacked;
      font-size: 1.16em;
    }
  }
}
