<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="/assets/fonts/fontawesome/css/all.css" rel="stylesheet">
    {% seo %}
  </head>
  <body class="default-layout {% if page.fullbleed %}fullbleed{% endif %}">
    <div class="site-grid-container">
      <div class="banner-background"></div>
      <div class="navigation-background"></div>
      <header class="site-header">
        <div class="siteheader-layout">
          <div class="logo-container">
            {% include logo-svg.html %}
          </div>
          <div class="title-group">
            <h1 class="brand">
              canberra<br/>
              makerspace
            </h1>
            <p class="subtitle">> make, hack, void</p>
          </div>
        </div>
      </header>
      <div class="navigation-container">
        {% include navigation.html %}
      </div>
      <main>
        {% if page.banner %}
          <div class="banner-image" style="background-image: url({{ page.banner }}); height: {{ page.banner_height }};"></div>
        {% endif %}
        <div class="content-grid-container">
          <article class="content">
            {{ content }}
          </article>
          <div class="aside-container">
            {% for aside in page.aside %}
              <aside>
                <strong>{{ aside.title }}</strong>
                {% include {{ aside.include }} %}
              </aside>
            {% endfor %}
          </div>
        </div>
      </main>
      <footer class="site-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
