header.siteheader .siteheader-layout {
  display: flex;
  height: 100%;

  .logo-container {
    flex: 0 0 calc( 110px + 2ch );
    .logo-svg {
      height: 100%;
      width: 100%;
      margin-left: -1ch;
    }
  }

  .brand {
    font-size: calc( 110px - 40px);
  }

  .subtitle {
    font-size: 30px;
  }

  .title-group {
    margin-top: -8px;
  }
}
