.site-grid-container {
  display: grid;

  grid-template-columns:  [gutter-left] 1fr
                          [content-col] 960px
                          [gutter-right] 1fr;

  grid-template-rows: [header-top] 1rem  
                    [header] 110px
                    [interaction-box] 1rem
                    [navigation-box] 2rem
                    [content] minmax(0, auto)
                    [footer] 2rem [end-row];


  .banner-background {
    grid-area: header / gutter-left / interaction-box / end-col;
  }
  
  header.siteheader {
    grid-area: header / content-col / header / gutter-right;
  }

  .navigation-container {
    grid-area: navigation-box / content-col / navigation-box / gutter-right;
  }

  main {
    grid-area: content / content-col / content / gutter-right;
  }

  // TODO pls move
  main p {
    width: 80ch;
  }



}
