header.siteheader .siteheader-layout {
  display: flex;
  height: 100%;

  .logo-container {
    flex: 0 0 calc( 110px + 3ch );
  }

  .brand {
    font-size: calc( 110px - 40px);
  }

  .subtitle {
    font-size: 30px;
  }

  .title-group {
    margin-top: -8px;
  }
}
