---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---
<html lang="en">
<head>
  <BaseHead title={title} description={description} permalink={permalink} />
</head>
<body>
  <div class="layout">
    <div class="header-container">
      <Header current={current} />
    </div>

    <main>
      <slot />
    </main>

    <Footer />
  </div>
</body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
  }

  .header-container {
    padding: 0 var(--page-gutter);
    height: var(--header-height);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
  }

  main {
    position: relative;
    padding: var(--header-height) var(--page-gutter) 0px var(--page-gutter);
    flex: 1;
    /*
    flex-direction: column;
    margin: 0 auto;
    max-width: 75ch;
    padding: 1em 2em;
    box-sizing: border-box;
    */
    width: 100%;
  }
</style>
